  
{% extends 'base.html' %}
{% block content %}
<style>
    * { margin:0; padding:0; }
    body { font-family: sans-serif;} 
    #content { margin: 50px; } 
    a { text-decoration: none; }  
    
    .expandable {
    background: #fff;
    overflow: hidden;
    color: #000;   
    line-height: 50px;

    transition: all .5s ease-in-out;
    height: 0;
    }
    
    .expandable:target {
    height: 120px;
    }
</style>
<h2>Assignment</h2>
{% if error %}
    {{ error }}
{% endif %}
<table class = "table">
<thead>
    <tr>
        <th>ID Subject</th>
        <th>Assignment</th>
        <th>Language</th>
    </tr>
</thead>
    <tbody>
        {% for assign in assigns %}
        <tr>
        <td>{{ assign.idSubject }}</td>        
        <td>{{ assign.assignment }}</td> 
        <td>{{ assign.language }}</td>
        <td>
            <form method="POST" action="{% url 'upload_assign' assign.idSubject assign.assignment %}" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="#{{ assign.assignment }}"><span>Click Here</span></a>
                <div class="expandable" id="{{ assign.assignment }}">
                    <p>
                    Upload File main
                    <input type = "file" id="fileAssignment" name="fileAssignment" class = "btn btn-primary btn-sm" value='fileAssignment'>
                    Upload File other
                    <input type = "file" id="otherFiles" name="otherFiles" class = "btn btn-primary btn-sm" value='otherFiles' multiple>
                    </p>
                    <input type="submit" class = "btn btn-primary btn-sm" value="Submit">
                </div>
            </form>
        </td>
        <td>
            <form action="{% url 'assign_student_list' assign.idSubject assign.assignment %}">
                {% csrf_token %}  
                <button type = "submit" class = "btn btn-primary btn-sm" value='Start Automated Order'>
                    Student list
            </form>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}