{% extends 'base.html' %}
{% block content %}
<h2>Assignment</h2>

<table class = "table">
<thead>
    <tr>
        <th>SubjectID</th>
    </tr>
</thead>
    <tbody>
        {% for assign in assigns %}
        <tr>
        <td>{{ assign }}</td>
        <td>
            <form method="POST" action="{% url 'problem_list' assign %}">
                {% csrf_token %}  
                <button type = "submit" class = "btn btn-primary btn-sm" value='Start Automated Order'>
                    Show Assignment
                </a>
            </form>
        </td>   
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}