{% extends 'topbar.html' %}

{% block content%}

<br></br>

<div style="background-color:#212529; width: 400px;  border-radius: 24px; padding:45px 16px 77px 16px;" class="mx-auto align-self-center">
    <h1 style="color: #fff; font-size: 30px; margin-bottom: 32px;">Create Assignment</h1>
        <form action="" method="POST">
          <div style="color: #fff;">{% csrf_token %}
          {{form.as_p}}</div>
          <br>
            <!--<form enctype="multipart/form-data">
              <input type="file" name="document" style="color: #fff;">
            </form>-->
          <input type="submit" class="btn btn-primary" name="submit" value="create">
        </form>  
      
</div>
{% endblock %}